@page
@model HotelApp.Web.Pages.footerModel
@{
ViewData["Title"] = "footer";
}


<div class="about-section">
    <div class="container">
        <div class="row">
           
            <div class="col-md-4 col-sm-6">
                <img class="logofooter mb-1" src="~/images/Miami.jpg" alt="X Hotel" />
                <p><strong> X-Hotel is a modern hotel with a long tradition in the hotel industry. It is located in the center of Stockholm.</strong></p>
                <p><i class="fa fa-map-pin"></i> Peter 56, Gustav Vasa 11000, Sweden</p>
                <p><i class="fa fa-phone"></i> Phone (Sweden): +46 11 303 13 00</p>
                <p><i class="fa fa-envelope"></i> E-mail: info@Xhotel.se</p>
            </div>
          
        
            
        </div>
    </div>
</div>
